@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-enter {
    opacity: 0;
    transform: translateY(-20px);
}
.menu-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}
.menu-exit {
    opacity: 1;
}
.menu-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.tp{
    padding-top: 56px;
 height: 100vh;
}